html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

/*-------------------------------- Navbar ---*/

nav {
    background-color:#10172f;
}

nav ul a:hover {
    background-color: rgb(35, 35, 35);
}

nav .brand-logo {
    padding-left: 15px;
}

#nav-mobile,
nav .brand-logo {
    text-decoration: underline;
}

/*-------------------------------- Home ---*/

h1 {
    font-size: 4rem;
    padding: 2rem;
}

h1, h2 {
    text-align: center;
}

p {
    font-size: 1.2em;
}

.road-mtb-shoe-links {
    text-decoration: none;
    color: black;
}

.road-mtb-shoe-links a:hover {
    color: rgb(35, 35, 35);
}

img {
    min-width: 100%;
    height: auto;
}

.padding {
    padding: 1rem 0;
}

/*-------------------------------- All shoes ---*/

#color-red {
    color: #0f41f9;
}

#color-red:hover {
    color: #091f6f;
}

/*-------------------------------- Single shoe page ---*/

#shoe-action-buttons-row{
    padding: 50px 0;
}

.on-hover-blue,
.on-hover-red,
.on-hover-green {
    background-color: #10172f;  
}

.on-hover-blue:hover {
    background-color: blue !important;
    text-decoration: none;
    transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}

.on-hover-red:hover {
    background-color: red !important;
    text-decoration: none;
    transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}

.on-hover-green:hover {
    background-color: green !important;
    text-decoration: none;
    transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}

#review-body {
    padding-bottom: 0;
}

#review-content {
    padding-bottom: 50px;
}

#review-expand{
    margin-top: 10px;
}

#starrating {
    margin: 10px 0 0 50px;
}

#review-buttons {
    padding: 20px 0 10px;
    text-align: right;
}

#review-user {
    margin-top: 15px;
}

/*-------------------------------- Footer ---*/

.page-footer {
    background-color: #10172f;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-inline-item {
    padding-right: 20px;
}

.list-inline-item a {
    color: #f7f2ef;
}

#copyright,
#modal {
    padding-top: 10px;
}

.blue.darken-4 {
    background-color: #2d405d;
}

#hidden {
    display: none;
}


