{% extends 'base.html'%} {% block content %}

<div class="container">
<h3>Write your review</h3>

{% for shoe in shoe %}
<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white lighten-5 z-depth-1">
		<div class="row valign-wrapper">
			<div class="col s2">
				<img alt="Shoe Image" class="materialboxed responsive-img" src="{{shoe.picture_url}}" onerror="this.onerror=null;this.src='static/images/cards-picture.jpg';">
            </div>
			<div class="col s10">
				<h5 class="black-text" id="card-text">{{shoe.brand}} {{shoe.model}} {{shoe.cycling_type}} shoe</h5>   
			</div>
		</div>
	</div>
</div>


<h4>Your review:</h4>

<div class="row">
    <form action="{{ url_for('insert_review', shoe_id=shoe._id) }}" method="POST" class="col s12">


        <div class="row" id="hidden">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                 <select id="shoe_id" name="shoe_id">
                    <option value="{{shoe._id}}" selected>{{shoe._id}}</option>
                </select>
                <label>shoe id:</label>
                <p>*required</p>
            </div>
        </div>


    
        <div class="row">
			<div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
				<input id="title" name="title" type="text"  class="validate" required>
				<label for="title">Review title / overall comment:</label>
                <p>*required</p>
			</div>
		</div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                <textarea name="review" id="review" class="materialize-textarea validate" required></textarea>
                <label for="review">Your review:</label>
                <p>*required</p>
            </div>
        </div>
        <div class="row">
			<div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
				<input id="user" name="user" type="text"  class="validate" required>
				<label for="user">Your nickname:</label>
                <p>*required</p>
			</div>
		</div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                 <select id="rating" name="rating" required>
                    <option value="" disabled selected>Overall rating</option>
                    <option value="1">1 Star (poor)</option>
                    <option value="2">2 Stars (fair)</option>
                    <option value="3">3 Stars (average)</option>
                    <option value="4">4 Stars (good)</option>
                    <option value="5">5 Stars (excellent)</option>
                </select>
                <label>Overall rating:</label>
                <p>*required</p>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light on-hover-green" type="submit" name="action">Add Review
                <i class="material-icons right">check</i>
            </button>
            <a href="{{url_for('shoe', shoe_id=shoe._id)}}" class="waves-effect waves-light btn btn_small on-hover-red">Cancel<i class="material-icons right">cancel</i></a>
        </div>
    </form>
</div>
</div>
{% endfor %}
{% endblock %}