{% extends 'base.html'%}
{% block content %}
<div class="container">
<h3>Add Shoe</h3>

<div class="row">
    <form action="{{ url_for('insert_shoe') }}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
					<input id="brand" name="brand" type="text" class="validate" required>
					<label for="brand">Brand</label>
                    <p>*required</p>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
					<input id="model" name="model" type="text" class="validate" required>
					<label for="brand">Model</label>
                    <p>*required</p>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
                    <select id="cycling_type" name="cycling_type">
                        <option value="" disabled selected>Choose type of cycling</option>
                        <option value="road">Road</option>
                        <option value="mtb">Mtb</option>
                    </select>
                    <label>Type of cycling</label>
                    <p>*required</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
                    <select id="gender" name="gender">
                        <option value="" disabled selected>Choose gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="unisex">Unisex</option>
                    </select>
                    <label>Gender</label>
                    <p>*required</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
                    <select id="sole" name="sole">
                        <option value="" disabled selected>Choose sole material</option>
                        <option value="plastic">Plastic</option>
                        <option value="carbon-fibre">Carbon-fibre</option>
                    </select>
                    <label>Sole material</label>
                    <p>*required</p>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
                    <select id="closure" name="closure" required>
                        <option value="" disabled selected>Choose retention system</option>
                        <option value="boa">Boa</option>
                        <option value="velcro">Velcro</option>
                        <option value="laces">Laces</option>
                    </select>
                    <label>Retention system</label>
                    <p>*required</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                    <textarea name="description" id="description" class="materialize-textarea validate"></textarea>
                    <label for="description">Description</label>
                    <p class="optional-fields">*optional - please add detailed shoe description</p>
                </div>
            </div>
            <div class="row">
				<div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
					<input id="picture_url" name="picture_url" type="text"  class="validate">
					<label for="brand">Picture URL</label>
                    <p class="optional-fields">*optional - please include full( htttps:// ) url to the picture of the shoe</p>
				</div>
			</div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add Shoe
                    <i class="material-icons right">send</i>
                </button>
        </div>
    </form>
</div>

</div>


{% endblock %}