{% extends 'base.html'%}
{% block content %}
<div class="container">
<h3>Add Shoe</h3>

<div class="row">
    <form action="#" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
					<input id="brand" name="brand" type="text">
					<label for="brand">Brand</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
					<input id="model" name="model" type="text">
					<label for="brand">Model</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="cycling_type" name="cycling_type">
                        <option value="" disabled selected>Choose type of cycling</option>
                        <option value="#">Road</option>
                        <option value="#">Mtb</option>
                    </select>
                    <label>Type of cycling</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="gender" name="gender">
                        <option value="" disabled selected>Choose gender</option>
                        <option value="#">Male</option>
                        <option value="#">Female</option>
                        <option value="#">Unisex</option>
                    </select>
                    <label>Gender</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="sole" name="sole">
                        <option value="" disabled selected>Choose sole material</option>
                        <option value="#">Plastic</option>
                        <option value="#">Carbon-fibre</option>
                    </select>
                    <label>Sole material</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="closure" name="closure">
                        <option value="" disabled selected>Choose retention system</option>
                        <option value="#">Boa</option>
                        <option value="#">Velcro</option>
                        <option value="#">Laces</option>
                    </select>
                    <label>Retention system</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                    <textarea name="shoe_description" id="shoe_description" class="materialize-textarea"></textarea>
                    <label for="shoe_description">Description</label>
                </div>
            </div>
            <div class="row">
				<div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
					<input id="picture_url" name="picture_url" type="text">
					<label for="brand">Picture</label>
				</div>
			</div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add Shoe
                    <i class="material-icons right">playlist_add</i>
                </button>
        </div>
    </form>
</div>

</div>


{% endblock %}