{% extends 'base.html'%} {% block content %}

<div class="container">
<h3>Write your review</h3>

{% for shoe in shoe %}
<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white lighten-5 z-depth-1">
		<div class="row valign-wrapper">
			<div class="col s2">
				<img src="{{shoe.picture_url}}" alt="Shoe Image" class="materialboxed responsive-img">
            </div>
			<div class="col s10">
				<span class="black-text" id="card-text">{{shoe.brand}} {{shoe.model}} {{shoe.cycling_type}} shoe</span>   
			</div>
		</div>
	</div>
</div>
{% endfor %}

{% for review in reviews %}
<h4>Your review:</h4>

<div class="row">
    <form action="{{ url_for('update_review', review_id=review._id, shoe_id=review.shoe_id) }}" method="POST" class="col s12">
        <div class="row">
			<div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
				<input id="title" name="title" type="text"  class="validate" value="{{review.title}}" required>
				<label for="title">Review title / overall comment:</label>
                <p>*required</p>
			</div>
		</div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                <textarea name="review" id="review" class="materialize-textarea validate" required>{{review.review}}</textarea>
                <label for="review">Your review:</label>
                <p>*required</p>
            </div>
        </div>
        <div class="row">
			<div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
				<input id="user" name="user" type="text"  class="validate" value="{{review.user}}" required>
				<label for="user">Your nickname:</label>
                <p>*required</p>
			</div>
		</div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                 <select id="rating" name="rating" required>
                    {% if review.rating == "1" %}
                    <option value="" disabled>Overall rating</option>
                    <option value="1" selected>1 Star (poor)</option>
                    <option value="2">2 Stars (fair)</option>
                    <option value="3">3 Stars (average)</option>
                    <option value="4">4 Stars (good)</option>
                    <option value="5">5 Stars (excellent)</option>
                    {% elif review.rating == "2" %}
                    <option value="" disabled>Overall rating</option>
                    <option value="1">1 Star (poor)</option>
                    <option value="2" selected>2 Stars (fair)</option>
                    <option value="3">3 Stars (average)</option>
                    <option value="4">4 Stars (good)</option>
                    <option value="5">5 Stars (excellent)</option>
                    {% elif review.rating == "3" %}
                    <option value="" disabled>Overall rating</option>
                    <option value="1">1 Star (poor)</option>
                    <option value="2">2 Stars (fair)</option>
                    <option value="3" selected>3 Stars (average)</option>
                    <option value="4">4 Stars (good)</option>
                    <option value="5">5 Stars (excellent)</option>
                    {% elif review.rating == "4" %}
                    <option value="" disabled>Overall rating</option>
                    <option value="1">1 Star (poor)</option>
                    <option value="2">2 Stars (fair)</option>
                    <option value="3">3 Stars (average)</option>
                    <option value="4" selected>4 Stars (good)</option>
                    <option value="5">5 Stars (excellent)</option>
                    {% elif review.rating == "5" %}
                    <option value="" disabled>Overall rating</option>
                    <option value="1">1 Star (poor)</option>
                    <option value="2">2 Stars (fair)</option>
                    <option value="3">3 Stars (average)</option>
                    <option value="4">4 Stars (good)</option>
                    <option value="5" selected>5 Stars (excellent)</option>
                    {% else %}
                    <option value="" disabled selected>Overall rating</option>
                    <option value="1">1 Star (poor)</option>
                    <option value="2">2 Stars (fair)</option>
                    <option value="3">3 Stars (average)</option>
                    <option value="4">4 Stars (good)</option>
                    <option value="5">5 Stars (excellent)</option>
                    {% endif %}
                </select>
                <label>Overall rating:</label>
                <p>*required</p>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Save
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
</div>
{% endfor %}
{% endblock %}