{% extends 'base.html'%}

{% block content %}
<div class="container">
<h1>Cycling Shoes Reviews</h1>
<br>

<div class="row">
	<div class="col s12 m6">
        <a href="#">
           <img class="responsive-img" src="static/images/Road-Cycling-1.jpg" alt="Road cycling">
           <h2>Road Shoes</h2>
        </a> 
	</div>
    <div class="col s12 m6">
        <a href="#">
           <img class="responsive-img" src="static/images/Mtb-Cycling-1.jpg" alt="MTB cycling">
           <h2>MTB Shoes</h2>
        </a> 
	</div>
</div>
<br>
<h2>Shoe Guide</h2>
<hr>
<h3>How to choose the best cycling shoes for you — a buyer's guide</h3>

<div class="video-container">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/j3Il8pHgyjY" frameborder="0"
		allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<h3>Essential advice for choosing the right cycling shoes for you - whatever type of cycling you do</h3>
<p>While you can ride a bike with sneakers, using cycling specific shoes will provide a greater connection to the bike,
	save weight, and improve overall performance. Purpose-built cycling shoes differentiate from sneakers with their
	increased rigidity, stiff sole, enhanced ventilation, a system of attaching the shoe to the bike's pedals.
	But with so many different riding categories demanding different footwear, searching for your next set of bike shoes
	can be a chore. So with that in mind, we've created this comprehensive guide to help you make an informed decision
	and understand the different types of cycling shoes, no matter your preferred discipline.</p>

<h3>The differences between Road and MTB cycling shoes</h3>

<h4>Road Bike Shoes</h4>
<img class="materialboxed responsive-img" src="static/images/road-shoes.jpg" alt="Road cycling shoe">
<p>Road shoes prioritise performance elements such as sole stiffness, weight and maximum cleat/pedal engagement. Pedal
	engagement (how strongly the shoes are held to the pedals) is far higher than mountain bike shoes, kicks designed
	for urban cycling or any other style of riding that may require frequent unclipping.</p>
<img class="materialboxed responsive-img" src="static/images/road-sole-2.jpg" alt="Road cycling shoe sole">
<p>Road cyclists rarely walk in their shoes so the cleat is external, as opposed to being recessed, and there is a small
	amount of tread or rubber on the heel to provide some grip. Road shoes are also very lightweight, well ventilated,
	have a low profile, feature a wide variety of closing mechanisms and some even come with aerodynamic advantages.</p>

<h4>MTB Shoes</h4>
<img class="materialboxed responsive-img" src="static/images/mtb-shoes.jpg" alt="MTB cycling shoe">
<p>Mountain bike shoes typically feature a recessed cleat, more tread, and a lugged outer sole as walking and
	dismounting are far more common than when on the road. This mountain bike specific cleat also sheds mud and debris
	which are likely to build up while riding off-road. Sole stiffness and weight are important but not to the same
	levels as a road shoe, as a mountain bike shoe needs to be far more versatile factoring in walking, clearing debris,
	comfort and ease of clipping in and out. Like road shoes, mountain bike shoes feature a variety of closing
	mechanisms. Still, they will generally feature a different 'upper' to prevent water ingress and a toe cap that
	provides greater protection from debris and obstacles.</p>
<img class="materialboxed responsive-img" src="static/images/mtb-sole.jpg" alt="MTB cycling shoe sole">
<p>Some mountain bike shoes will also have a pedal channel that sits behind the cleat to make clipping in more natural
	as well as to provide a more stable platform between shoe and pedal when not clipped in. These shoes will be more
	substantial than road shoes, almost double the weight in some cases and have a much higher profile.
	It's worth noting that not all mountain bike shoes are designed for use with clipless pedals. Instead, there are
	many 'flat pedal' shoes available too. These shoes often share many of the same features as their clipless brethren
	but instead feature a grippy rubber sole that's designed to mesh perfectly with platform pedals.</p>

<h4>Closure systems</h4>
<p>There are many different mechanisms manufacturers use to close or tighten shoes, all with their own pros and cons. As
	with most of the topics we've covered above, selecting the right mechanism will depend on your chosen discipline,
	goals and budget. Below is a summary of the most common types.</p>
<h5>Velcro</h5>
<img class="materialboxed responsive-img" src="static/images/velcro.jpg" alt="Cycling shoe velcro closure">
<p>Velcro straps have been in use for a long period due to their simplicity, strength and lightweight construction. They
	feature on entry-level to pro-level shoes and often work in collaboration with other mechanisms too. The downside of
	velcro straps is the potential for them to lose their holding strength over time.</p>
<h5>Boa</h5>
<img class="materialboxed responsive-img" src="static/images/boa.jpg" alt="Cycling shoe boa closure">
<p>Wire retention systems such as those offered by BOA are the new kids on the block, providing the lightest option,
	with significant amounts of strength and largely avoiding uncomfortable contact points. The system works via wire
	laces that are tightened through dials on the shoe. The wires can be threaded throughout the shoe in any number of
	combinations allowing manufacturers to be creative with shoe design as well as eliminating pressure points.</p>
<h5>Laces</h5>
<img class="materialboxed responsive-img" src="static/images/laces.jpg" alt="Cycling shoe laces closure">
<p>Laces have certainly made a comeback in recent times, and represent a cost-effective option with high strength and
	simplicity. They can also be replaced exceptionally quickly, and changing the colour can be a quick way to liven up
	your shoe game. The main downside is the inability to adjust the tension on the go.</p>

<h5>Ratchet and Buckle Systems</h5>
<p>Ratchet systems and buckles are some other mechanisms that have been used for an extended period providing
	exceptional strength and ease of use. Of the other three mechanisms, this option is the bulkiest of all and has
	mostly been replaced by wire retention on top-tier options due to their reduced weight and increased functionality.
	Making small adjustments to increase the tension of buckles and ratchets is straight forward; however, the exact
	adjustment range is more fixed compared to the other options.</p>

<h4>Ventilation</h4>
<img class="materialboxed responsive-img" src="static/images/vantilation.jpg" alt="Cycling shoe ventilation">
<p>Just like a helmet, it's important for shoes to provide sufficient ventilation for your feet to breathe and remain
	fresh. Still, the amount of ventilation will depend on the climate you live in and the cycling discipline you
	choose. This is especially important for your feet as they will expand with heat and as blood pools over an extended
	period.</p>
<p>Cycling shoes can be well insulated, allow little airflow and be created to keep things like debris and water out. At
	the other end of the spectrum, some cycling shoes are made from highly breathable and lightweight materials to allow
	significant airflow and cooling properties.</p>
<p>Generally, road shoes will allow for more ventilation and be made from much lighter materials than mountain bike
	shoes which have to keep debris and mud out.</p>

<h4>Sole Stiffness</h4>
<img class="materialboxed responsive-img" src="static/images/sole-stiffness.jpg"  alt="Cycling shoe sole">
<p>Soles are typically either made from nylon or carbon fibre. Nylon soles are cost-effective, allow shoes to flex,
	making them ideal for walking, and are most commonly found on urban or entry-level mountain bike shoes.</p>
<p>To improve stiffness and reduce weight, premium road, triathlon and some mountain bike shoes feature a carbon fibre
	plate that optimises power transfer and overall performance. The downside of such a stiff sole can be discomfort,
	usually in the form of pressure points or hot spots if the fit isn't exactly right.</p>
<p>Road shoes are generally stiffer than mountain bike shoes because there's no need to walk (so no need for any flex of
	the sole), and optimising power transfer is at a premium.</p>
<p>As well as selecting the right amount of sole stiffness, be sure to check your shoes have the correct number and
	position of holes to suit your pedal/cleat system.</p>

<h4>Before you buy!</h4>
<img class="materialboxed responsive-img" src="static/images/fitting-considerations.jpg"  alt="MTB cycling shoe">
<p>Before you purchase the lightest, fastest, stiffest and 'best' shoe, it's crucial to get the fit right first. Simply
	comfort will enhance your riding experience far more than any specific shoe feature. For this, cycling shoes come in
	varying widths and shapes that will affect the fit of the shoe. Therefore, the 'best' shoe is going to be different
	for everyone.</p>
<p>When selecting the right shoe, size charts can be useful, but the best practice is to go to a shop and try them on to
	make sure they fit in length, forefoot width, and provide a snug hold at the heel. And when trying them on, be sure
	to do so with cycling-specific socks, or the sock you plan to ride in. They are generally much thinner than standard
	socks. This improves contact with the shoe, reduces pressure points or hot spots, and provides more efficient
	temperature regulation.</p>
<p>Each shoe will have a slightly different last, affecting the width of the shoe along its entire length. Some will be
	narrower in the heel to prevent slippage, while some provide a wider than standard toe box for wide feet or splayed
	toes. It's also an essential consideration if you have particularly wide or narrow feet.</p>
<p>And to ensure a perfect fit, some companies have shoes that come with mouldable or adjustable soles that can be
	customised to the contours and shape of your feet.</p>
<p>Last, but not least, TRY BEFORE BUY!</p>

<h5>* If you'd like to read some cycling shoes reviews, simply press Shoesycling Logo on the top left and select between
	Road and MTB shoes.</h5>

</div>
{% endblock %}