{% extends 'base.html'%}
{% block content %}

<div class="container">
{% for shoe in shoe %}
<h3>{{shoe.brand}} {{shoe.model}}</h3>
<br>
<img alt="If Shoe Image doesn't display please Edit Shoe to add picture." class="materialboxed responsive-img" src="{{shoe.picture_url}}">
<h4>Features:</h4>
<div class="row">
	<div class="col s12 l6">
		<p>Brand: {{shoe.brand}}<i class="material-icons left">loupe</i></p>
		<p>Model: {{shoe.model}}.<i class="material-icons left">loupe</i></p>
		<p>Gender: {{shoe.gender}}<i class="material-icons left">loupe</i></p>
	</div>
	<div class="col s12 l6">
		<p>Discipline: {{shoe.cycling_type}}<i class="material-icons left">loupe</i></p>
		<p>Sole: {{shoe.sole}}<i class="material-icons left">loupe</i></p>
		<p>Retention: {{shoe.closure}}<i class="material-icons left">loupe</i></p>
	</div>
</div>
<h4>Description:</h4>
    {% if shoe.description %}
    <p>{{shoe.description}}</p>
    {% else %}
    <p>Please go to Edit Shoe to add Description.</p>
    {% endif %}
<div class="row">

    <div class="col s12 l4">
        <a href="{{url_for('edit_shoe', shoe_id=shoe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Shoe<i class="material-icons right">email</i></a>
    </div>
    <div class="col s12 l4">
        <a href="{{url_for('remove_shoe', shoe_id=shoe._id)}}" class="waves-effect waves-light btn btn_small blue">Remove Shoe<i class="material-icons right">email</i></a>
    </div>
    <div class="col s12 l4">
        <a href="{{url_for('add_review', shoe_id=shoe._id)}}" class="waves-effect waves-light btn btn_small blue">Add Review<i class="material-icons right">email</i></a>
    </div>
{% endfor %}
</div>

<h4>Reviews:</h4>
{% for review in reviews %}
{% if review %}
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
      <i class="material-icons">expand_more</i>
      <h5>{{review.title}}</h5>
      {% include 'starrating.html' %}
      </div>
      <div class="collapsible-body">
      <span>{{review.review}}</span>
      <p>user: {{review.user}}</p>
      <a href="{{url_for('edit_review', review_id=review._id, shoe_id=review.shoe_id)}}" class="waves-effect waves-light btn btn_small">Edit review</a>
      <a href="{{url_for('delete_review', review_id=review._id, shoe_id=review.shoe_id)}}" class="waves-effect waves-light btn btn_small blue">Delete review</a>
      </div>
    </li>
  </ul>
{% else %}
<p>Be first to add review!</p>
{% endif %}
{% endfor %}

</div>

{% endblock %}