{% extends 'base.html'%}

{% block content %}
<div class="row">
{% for shoe in shoes %}
		<div class="col s12 m4">
			<div class="card sticky-action">
				<div class="card-image waves-effect waves-block waves-light">
					<img alt="Shoe picture" class="activator" src="{{shoe.picture_url}}" onerror="this.onerror=null;this.src='static/images/cards-picture2.jpg';">
                    </div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{shoe.brand}} {{shoe.model}}<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{shoe.brand}} {{shoe.model}} features:</span>
						<p>Discipline: {{shoe.cycling_type}}<i class="material-icons left">check</i></p>
						<p>Sole: {{shoe.sole}}<i class="material-icons left">check</i></p>
						<p>Retention: {{shoe.closure}}<i class="material-icons left">check</i></p>
					</div>
					<div class="card-action">
						<a href="{{url_for('shoe', shoe_id=shoe._id)}}" id="color-red">Reviews</a>
					</div>
				</div>
			</div>
{% endfor %}
</div>

{% endblock %}