{% if review.rating == "1" %}
    <i class="material-icons">star</i>
{% elif review.rating == "2" %}
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
{% elif review.rating == "3" %}
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
{% elif review.rating == "4" %}
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
{% elif review.rating == "5" %}
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
{% else %}
    <p>No rating provided</p>
{% endif %}

        